@page
@model OpenVmsTextEditor.Web.Pages.Error.AlmostThereModel
@{
    ViewData["Title"] = "Almost There";
}
<h1>You're almost there!</h1>
<p>You have an account set up. Now you just need your administrator to give you access to some folders.</p>
@if (!string.IsNullOrWhiteSpace(Model.Message))
{
    <p>@Model.Message</p>
}
<p>
    <a asp-area="Identity" asp-page="/Account/Login">Return to Login</a>
</p>


